.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
}
.text-box {
    justify-content: flex-end;

}

.text-box h2 {
    font-size: 40px;
}

.text-box h1 {
    font-size: 80px;
}


.icon {
    height: 30px;
    margin-bottom: 30px
}

