@import '../root.css';

.navbar {
    display: flex;
    width: 100%;
    top-margin: 0px;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(0,0,0)  ;
    color: rgb(251, 255, 254);
    height: 10%;

  }
  
  .name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* margin-right: 10px; */
    padding: 0;
    
  }

  
  
  
  .menu button {
    margin: 10px;
    color: rgb(251, 255, 254);
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
  }
  
  .resume {
    background-color: aliceblue;
  }
  
  .item {
    margin: 10px 0;
  }
  
  
  .toggler {
    display: none;
  }
  
  @media (max-width: 768px) {
    .navbar {
      /* height: 40%; */

      /* background-color: aliceblue; */
    }



    .menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: #333;
      color: white;
      align-items: center;
    }
  
    .toggler {
      display: block;
      position: absolute;
      justify-content: center;
      right: 10px;
      background-color: transparent;
      color: rgb(251, 255, 254);
      border: none;
      cursor: pointer;
    }
  
    .toggler:focus {
      outline: none;
    }
  
    .menu.active {
      display: flex;
      flex-direction: column;
    }
  }

  .resume {
    font-size: 50px;
  }