.navbar {
    display: flex;
    width: 100%;
    top-margin: 0px;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333;
    color: white;
    height: 65px;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* margin-right: 10px; */
    padding: 0;
  }

  .menu button {
    margin: 10px;
    color:white;
    background: none;
    border: none;
    font-size: 20px;
  }
  
  .item {
    margin: 10px 0;
  }
  
  
  .toggler {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: #333;
      color: white;
      align-items: center;
    }
  
    .toggler {
      display: block;
      position: absolute;
      justify-content: center;
      right: 10px;
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
    }
  
    .toggler:focus {
      outline: none;
    }
  
    .menu.active {
      display: flex;
      flex-direction: column;
    }
  }