@import '../root.css';

.timeline {
    /* height: 80vh;
    width: 45vw; */
}


.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: antiquewhite; */
    gap: 0px;
    /* border-top-left-radius: 30px; */
    /* background-color: antiquewhite; */
    /* border-top-right-radius: 30px; */
}

.buttons {
    background-color: transparent;
    font-size:x-large;
    /* width: 25%; */
    flex-grow: 1;
    height:50px; 
    color: aliceblue;
    border-color: azure;
    border: 2px solid #6191c4;
    /* border: none; */
}

.left-button{
    flex-grow: 1;
    background-color: transparent;
    font-size:x-large;
    /* width: 25%; */
    color: aliceblue;
    /* border-top-left-radius: 30px; */
    border: 2px solid #6191c4;
}

.right-button{
    flex-grow: 1;
    background-color: transparent;
    font-size:x-large;
    /* width: 10vw; */
    /* width: 25%; */
    color: aliceblue;
    /* border-top-right-radius: 30px; */
    border: 2px solid #6191c4;
}

.timeline-container {
    align-items:end;
    /* padding-top: 20px; */
    /* width: 45vw; */
    height: calc(80vh - 50px);
    overflow: auto;
    /* border-bottom-right-radius: 30px; */
    /* background-color: beige; */
}

.vertical-timeline-element--work {
 
    /* background-color: brown; */
}

.test {
    background-color: rgb(31, 4, 202);
}


@media (max-width: 768px) {
    .button-container {
        display: none;
        
    }


}


